header 
    .container.top 
        .fonts
            .btn.small.active M 
            .btn.middle M 
            .btn.big M
    .container 
        .nav
            img.logo(src="assets/images/logo.png", alt="")
            .btn.btn-menu 
            .menu 
                a(href="") О нас
                a(href="") Лаборатория будущего
                a.active(href="") Медиа-центр
                a(href="") Вакансии
                a(href="") Контакты
                .btn-close-menu
        .options 
            .btn.btn-search 
            select
             option(value="RU") RU
    .container.info 
        .bread-crumbs 
            a(href="") Главная
            .separator 
            a(href="") Медиа-центр
            .separator 
            a.active(href="") Видео
        .social 
            a.yandex(href="")
            a.rutube(href="") 
            a.telegram(href="") 
            a.whatsapp(href="") 
        