mixin Modal(id, modalTemplate)
    .modal(id=id)
        .modal__dialog
            button.btn__modal__close
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    <iframe width="720" height="405" src="https://rutube.ru/play/embed/eeffa583753c9d85f5400e40baade282" frameBorder="0" allow="clipboard-write;" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    