section.videogallary 
    +Modal("modal-video", 'ModalTemplate')
    .container 
        h1 Видеогалерея
        .btn__switch__wrapper
            button.btn__tab__switch(target="1").active Деятельность МеКаМи
            button.btn__tab__switch(target="2") Молодой специалист
            button.btn__tab__switch(target="3") Карьера в МеКаМи
            button.btn__tab__switch(target="4") Интервью
            button.btn__tab__switch(target="5") Сообщество МеКаМи
        .tab__viewer
            .tab.active(tab-name="1")
                .videos
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page2.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page3.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page4.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page5.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page6.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page7.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page8.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page9.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page10.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page11.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page12.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page13.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page14.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page15.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page16.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page17.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page18.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page19.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page20.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page21.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page22.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page23.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page24.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page25.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="2")
                .videos 
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="3")
                .videos 
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="4")
                .videos 
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="5")
                .videos 
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    a(href="http://www.mecamineft.com/mecami_25_page1.php").btn.video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558