section.videogallary 
    +Modal("modal-video", 'ModalTemplate')
    .container 
        h1 Видеогалерея
        .btn__switch__wrapper
            button.btn__tab__switch(target="1").active Деятельность МеКаМи
            button.btn__tab__switch(target="2") Молодой специалист
            button.btn__tab__switch(target="3") Карьера в МеКаМи
            button.btn__tab__switch(target="4") Интервью
            button.btn__tab__switch(target="5") Сообщество МеКаМи
        .tab__viewer
            .tab.active(tab-name="1")
                .videos 
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="2")
                .videos 
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="3")
                .videos 
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="4")
                .videos 
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
            .tab(tab-name="5")
                .videos 
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-1.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-2.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558
                    .btn(modal="modal-video").video 
                        .img
                            img(src="assets/images/Фото-3.png", alt="")
                            .descr
                                h2 Заголовок
                                h2 Название видео
                                h2 Сюжет в несколько строк
                        .subscription
                            h2 Заголовок
                            h2 Название видео
                            h2 Сюжет в несколько строк
                        .info 
                            p.likes 180
                            p.views 5558