@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    header{
        .nav{
            .btn-menu{
                margin-left: 20px;
            }

            .menu{
                margin-left: 0;

                a{
                    margin-left: 20px;
                }
            }
        }
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header{
        .nav{
            .menu{
                position: absolute;
                top: 0;
                left: -50vw;
                width: 50vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #d7b27fd8;
                z-index: 10;
                transition: 0.5s;

                a{
                    margin: 0;
                    margin-bottom: 30px;
                }

                a:last-child{
                    margin-bottom: 0;
                }

                .btn-close-menu{
                    display: block;
                }
            }

            .menu.active{
                left: 0;
            }
        }
    }

    .videogallary{
        .btn__switch__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 10px;

            .btn__tab__switch{
                margin-top: 20px;
                margin-right: 0;
            }
        }
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    header{
        .info{
            flex-wrap: wrap;
        }

        .bread-crumbs{
            a{
                margin-right: 10px;
            }

            .separator{
                margin-right: 10px;
            }
        }

        .social{
            a{
                margin-left: 30px;
            }
        }
    }

    .videogallary{
        .tab__viewer{
            .tab{
                .videos{
                    .video{
                        width: 48%;
                    }
                }
            }
        }

        .btn__switch__wrapper{
            justify-content: flex-start;

            .btn__tab__switch{
                margin-right: 20px;
            }
        }
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 100%;
    }

    header{
        padding-top: 20px;
        
        .options{
            select{
                margin-left: 10px;
                padding-right: 10px;
            }
        }

        .nav{
            .btn-menu{
                margin-left: 10px;
            }

            .menu{
                width: 100vw;
                left: -100vw;
            }
        }

        .social{
            .yandex{
                margin-left: 0;
            }
        }
    }

    .videogallary{
        h1{
            font-size: 36px;
            text-align: center;
        }

        .tab__viewer{
            .tab{
                .videos{
                    .video{
                        width: 100%;
                    }
                }
            }
        }

        .btn__switch__wrapper{
            flex-direction: column;
            align-items: center;

            .btn__tab__switch{
                margin-right: 0;
                width: fit-content;
            }
        }
    }

    iframe{
        width: 100%;
    }
}